name: Check no-std

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:  
   check-no-std:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install no_std target
        run: rustup target add thumbv7m-none-eabi
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-nostd-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Check no_std
        run: cargo check --target thumbv7m-none-eabi
